<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.movie.mapper.MovieInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.movie.model.MovieInfo">
        <id column="movie_id" property="movieId" />
        <result column="rate" property="rate" />
        <result column="title" property="title" />
        <result column="cover" property="cover" />
        <result column="is_new" property="isNew" />
        <result column="director" property="director" />
        <result column="protagonist" property="protagonist" />
        <result column="type" property="type" />
        <result column="movie_country" property="movieCountry" />
        <result column="release" property="release" />
        <result column="movie_time" property="movieTime" />
        <result column="hot_short_commend" property="hotShortCommend" />
        <result column="evaluate_num" property="evaluateNum" />
        <result column="synopsis" property="synopsis" />
    </resultMap>

</mapper>
